body { font-family:"Helvetica","Arial",serif; color:#333; background-color:#ccc; margin:1em 10%;}
h1 { color:#333; background-color:transparent;//背景颜色为透明}
a { color:#c60; background-color:transparent; font-weight:bold; text-decoration:none;}
ul { padding:0;}
li { float:left; padding:1em; list-style:none;}
#imagegallery { list-style:none;}
#imagegallery li { display:inline-block;}
#imagegallery li a img { display:inline-block; border:0; width:120px; height:90px;}
#placeholder { margin-right:200px; width:500px; height:350px;}
#description { color:#c60; font-weight:bold;}